body {
    margin: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#quizContainer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

#quizHeader{
    padding: 60px;
   
}



ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 17px;
    margin: 15px 0;
}

button {
    background-color: #8e44ad;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color: #732d91;
}

h2 {
    text-align: center;
}

#error{
    color: red;
}
